#content{
	background-color: #FBFE00;
	border-top: 10px solid #2A18C2;
	border-bottom: 10px solid #2A18C2;
}
#header{
	padding-bottom: 10px;
}
.btn{
	background-color: #00FF00!important;
	background-image: none!important;
}